{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>creating_task</title>
    <link rel="stylesheet" type="text/css" href="{% static 'tracking_app/style.css' %}">
</head>
<body>
    <h2 class="registring">Створення завдання</h2>
    <div class="reg_info">
        <form method="POST" action="{% url 'creating_task' %}">
            {% csrf_token %}
            <p class="tags">Назва:<input type="text" id="name" name="name"></p>
            <p class="tags">Опис:<textarea type="text" id="description" name="description"></textarea></p>
            <p class="tags">Статус:
                <select id="stat" name="stat">
                    <option value="not_started">Не розпочато</option>
                    <option value="in_progress">У процесі</option>
                    <option value="on_hold">Призупинено</option>
                </select>
            </p>
            <p class="tags">Для кого:
                <select id="receiver" name="receiver">
                    {% for user in users %}
                        <option value="{{ user.id }}">{{ user.name }}</option>
                    {% endfor %}
                </select>
            </p>
            <p class="tags">Термін:<input type="date" id="term" name="term"></p>
            <button type="submit" class="submit_button">Створити завдання</button>
        </form>
    </div>
</body>
</html>