{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>log_in</title>
    <link rel="stylesheet" type="text/css" href="{% static 'tracking_app/style.css' %}">
</head>
<body>
    <div class = "wrapper">
        <form method="post" action="/log_in/">
        {% csrf_token %}
        <h2 class="registring">Log in: </h2>
        <div class="reg_info">
            <p class="tags">Enter a name: <input type = "text" name = "name"><br>
            {{password_text}}</p>
            <p class="tags">Enter a password: <input type = "text" name = "password", value=""></p>
            <p><input type="submit" value="Enter" class="submit_button"><a href = "/">Don't have an account?</a></p>
        </div>
        </form>
    </div>
</body>
</html>