{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>log_in</title>
    <link rel="stylesheet" type="text/css" href="{% static 'tracking_app/style.css' %}">
</head>
<body>
    <div class = "wrapper">
        <form method="post" action="/log_in/">
        {% csrf_token %}
        <h2 class="registring">Увійти: </h2>
        <div class="reg_info">
            <p class="tags">Введіть ім'я: <input type = "text" name = "name"></p>
            <p class="tags">Введіть пароль: <input type = "text" name = "password", value=""><br>{{password_text}}</p>
            <p><input type="submit" value="Увійти" class="submit_button"><a href = "/">Не маєте акаунт?</a></p>
        </div>
        </form>
    </div>
</body>
</html>