{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>sign_up</title>
    <link rel="stylesheet" type="text/css" href="{% static 'tracking_app/style.css' %}">
</head>
<body>
    <div class = "wrapper">
        <form method="post" action="/sign_up/">
            {% csrf_token %}
            <h2 class="registring">Sign up:</h2>
            <div class="reg_info">
                <p class="tags">Enter a name: <input type="text" name="name" value=""><br>
                {{name_text}}</p>
                <p class="tags">Enter a password: <input type="text" name="password"></p>
                <p class="tags">Enter your email: <input type="email" name="email"></p>
                <p><input type="submit" value="Register" class="submit_button"><a href="/log_in">Already have an account?</a></p>
            </div>
        </form>
    </div>
</body>
</html>