{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>tasks_list</title>
    <link rel="stylesheet" type="text/css" href="{% static 'tracking_app/style.css' %}">
</head>
<body>
    <div class="header">
        <button class="link_button" type="button" onclick="window.location.href='/tasks_list'">Завдання для тебе</button>
        <button class="link_button" type="button" onclick="window.location.href='/creating_task'">Створити завдання</button>
        account: {{name}}
    </div>
    <ul class="tasks_list"></ul>
        {% for task in tasks %}
            <a href="{% url 'changing_task' task.id %}" class="task_card">
                <div class="task_frame">
                    <h3>{{ task.name }}</h3>
                    <p>{{ task.description }}</p>
                    <p>Термін: {{ task.term }}</p>
                </div>
            </a>
        {% endfor %}
    </ul>
</body>

</html>